* {
  padding: 0;
  margin: 0;
  font-family: Averta-Regular;
}

.container {
  display: flex;
  flex-direction: column;
  height: 540px;
  width: 440px;
  background: #FFFFFF;
  border-radius: 12px;
  position: relative;
  padding: 40px 40px;
}

.header {
  width: 182px;
  height: 29px;
  color: black !important;
}

.close-icon {
  width: 16px;
  height: 16px;
  padding: 0!important;
  line-height: 0;
  min-width: 0;
}

.resetDiv {
  padding-top: 20px;
  color: black;
}

.reset-label {
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 400;
  width: 366px;
  height: 40px;
  color: #373737;
}

h3 {
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  /* identical to box height, or 29px */
  letter-spacing: -0.5px;
}

.email-label {
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  font-size: 13px;
  width: 35px;
  height: 13px;
  color: black;
  margin-bottom: 8px;
}

.email-box {
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  font-size: 16px;
  width: 366px;
  height: 48px;
  padding: 15px 15px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 12px;
}

.confirmationDiv {
  padding: 20px 0;
}

.confirmation-label {
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  width: 113px;
  height: 13px;
  color: black;
  margin-bottom: 8px;
}

.confirmation-box {
  width: 366px;
  height: 48px;
  padding: 15px 15px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 12px;
}

.newPassword-label {
  width: 158px;
  height: 13px;
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  color: #373737;
  margin-bottom: 8px;
}

.newPassword-input {
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 366px;
  height: 48px;
  padding: 15px 15px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 12px;
}

.confirm-buttonDiv {
  padding: 30px 0;
}

.confirm-button {
  display: flex;
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-size: 16px;
  flex-direction: row;
  align-items: center;
  padding: 15px 159px;
  width: 360px;
  height: 50px;
  background: #FFDF36;
  border-radius: 12px;
  border: none;
  color: #68572D;
}

/*.example-container .mat-form-field + .mat-form-field {*/

/*    margin-left: 8px;*/

/*  }*/

/*  .example-container{*/

/*    width: 100%;*/

/*    padding-bottom: 2em;*/

/*    !* background-color:rgb(31, 26, 15); *!*/

/*    text-align: center;*/

/*  }*/

/*  .mat-form-field{*/

/*      width: 90%;*/

/*      !* margin-top: 5%; *!*/

/*  }*/

/*  .forma{*/

/*    background-color:rgb(31, 26, 15);*/

/*    height: 440px;*/

/*  }*/

/*  .matInput{*/

/*    background-color: white;*/

/*  }*/