input {
  color: black;
}

* {
  padding: 0;
  margin: 0;
  font-family: Averta-Regular;
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 403px;
  width: 446px;
  background: #FFFFFF;
  border-radius: 12px;
  position: relative;
  padding: 40px 40px;
}

.header {
  width: 182px;
  height: 29px;
  color: black !important;
  margin: 0;
}

h3 {
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 110%;
  letter-spacing: -0.5px;
}

.resetDiv {
  padding-top: 40px;
}

.reset-label {
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 400;
  width: 366px;
  height: 40px;
  color: #373737;
  margin: 0;
}

.emailDiv {
  padding-top: 25px;
}

.email-label {
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  font-size: 13px;
  width: 35px;
  height: 13px;
  color: black;
  margin-bottom: 8px;
}

.email-box {
  width: 366px;
  height: 48px;
  padding: 15px 15px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 12px;
}

.linkDiv {
  padding-top: 20px;
}

.reset-button {
  display: inline-block;
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  font-size: 16px;
  flex-direction: row;
  align-items: center;
  width: 360px;
  height: 50px;
  background: #FFDF36;
  border-radius: 12px;
  border: none;
  text-align: center;
  color: #68572D;
}

.backDiv {
  padding-top: 40px;
  text-align: center;
}

.back-label {
  font-family: Averta-Regular;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  height: 20px;
  width: 64px;
  font-size: 16px;
  color: #1CBD8D;
  text-decoration: none;
  cursor: pointer;
}

.arrow-label {
  height: 10px;
  width: 17px;
  margin-right: 10px;
  cursor: pointer;
}

button .close-icon {
  width: 16px;
  height: 16px;
  padding: 0!important;
}

.close-icon {
  width: 16px;
  height: 16px;
  padding: 0!important;
  line-height: 0;
  min-width: 20px;
}

.mat-error {
  position: fixed;
  font-size: 11px;
}