<div class="container">
  <div class="headerDiv" fxLayout="row">
    <h3 class="header" fxFlex="97">Reset Password</h3>
    <button fxFlex="3" mat-button mat-dialog-close class="close-icon">
      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L17 17M1 17L17 1" stroke="#433B3B" stroke-width="2" stroke-linecap="round" />
      </svg>
    </button>
  </div>
  <div class="resetDiv">
    <p class="reset-label">Enter the email address associated with your account, and we’ll email you a link to reset
      your password</p>
  </div>
  <div>
    <div class="emailDiv">
      <p class="email-label">Email</p>
      <input matInput type="email" name="email" [formControl]="email" class="email-box" required>
    </div>
    <mat-error *ngIf="email.invalid && email.touched">
      {{emailErrorMessage()}}
    </mat-error>
  </div>

  <div class="linkDiv">
    <button mat-button class="reset-button" type="button" (click)="validateForm()">Send reset Link</button>
  </div>
  <div class="backDiv">
    <svg class="arrow-label" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg"
      (click)="openLoginDialog()">
      <path d="M6 1L1 6M1 6L6 11M1 6H18" stroke="#1CBD8D" stroke-width="2" stroke-linecap="round" class="svg-arrow"
        stroke-linejoin="round" />
    </svg>
    <a class="back-label" (click)="openLoginDialog()">Go back</a>
  </div>
</div>