<div id="policy">
    <app-header></app-header>
    <div class="policy">
        <div>
            <h1><span>Privacy Policy</span></h1>
            <h6>Last Updated Date: April 6, 2016</h6>
        </div>
        <div>
            <h3><span>Scope</span></h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet sed sed felis amet vitae.
                Convallis dolor sed egestas fringilla semper volutpat ipsum ac diam. Proin viverra sodales ullamcorper
                vulputate eu fringilla in nisl.
            </p>
            <p>
                Vel, aliquet eu ut magna massa vel. Tellus ut id dictum massa a. Pulvinar vitae praesent lectus
                interdum. Diam euismod cras gravida nec
                lectus aliquet sed vestibulum. Sed potenti vitae, auctor rhoncus suspendisse sed sit. Sed nisi proin
                lacinia a velit.
            </p>
        </div>
        <div>
            <h3><span>1. Personal Information we collect</span></h3>
            <p>
                <span>Definitions:</span> For purposes of these Terms: (i) <span>“Content”</span> means text, graphics,
                images, music, software, audio, video, works of authorship
                of any kind, and information or other materials that are posted, generated, provided or otherwise made
                available through the Service; and
                (ii) <span>“User Content”</span> means any Content that account holders (including you) provide to be
                made available through the Service.
            </p>
        </div>
        <div>
            <h3><span>2. How we use your information</span></h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis enim congue fermentum, nec.
                Sagittis, mi leo sit aliquam nunc. Elit gravida magna molestie volutpat.
                Vulputate a lectus tortor nec nibh erat ac. Id sed congue amet, dui, consequat tortor. Egestas rutrum
                leo dui vivamus risus fames praesent neque sapien. Venenatis amet sed
                magna fringilla at enim, ut orci.
            </p>
        </div>
        <div>
            <h3><span>3. Disclosing your information to third parties</span></h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non non vitae non, mauris ornare consectetur.
                Lobortis aliquet pretium posuere sed ut. Facilisis placerat tellus et
                tincidunt malesuada sit aliquet. Amet, tincidunt elit tincidunt odio eget massa. Gravida ut venenatis,
                turpis fringilla montes, id feugiat tincidunt dis. Enim sit eget vestibulum
                nisl sollicitudin felis metus. Massa vulputate neque nec, etiam sed. Quis odio aliquam diam enim id
                tristique volutpat, tortor. Aliquam rhoncus at amet odio facilisi cursus eleifend urna,
                pretium. Tellus erat rhoncus, semper pretium sit donec dictum est sed. Quisque sit adipiscing cras
                vitae, in est.
            </p>
            <p>
                Fermentum proin pharetra nisl tortor mi. Augue commodo purus pharetra diam eget lacus. Dui, in felis
                montes, ultrices. Lorem scelerisque tristique quam massa amet. Sed risus scelerisque elementum hac
                imperdiet in eget elementum.
            </p>
            <p>
                Ullamcorper quam a sagittis massa aliquam duis nisl diam. Morbi non malesuada libero vitae. Eget lacus
                fermentum nam pretium eget viverra cras pretium. Elementum diam proin tempus volutpat
                orci vel felis dignissim in. Nisl nulla ligula fames imperdiet elementum. Id ultrices condimentum dui
                euismod facilisi nisl eu. Nunc sit nibh at eu. Et pellentesque porttitor nam nascetur.
                Vel sed nec, quisque condimentum eleifend. Faucibus iaculis volutpat vitae, nulla. Enim commodo diam,
                fames dui ut ullamcorper viverra. Tellus ornare ultrices odio nullam at nisl. Vitae purus
                elementum id ut tellus. A, fringilla elit consequat, mattis.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>