<div *ngIf="homeScreen; else elseBlock3">
  <div id="header" [ngStyle]="{ 'border-bottom': homeScreen ? 'hidden' : '' }">
    <mat-toolbar>
      <div
        class="overlay out"
        [ngClass]="{ out: toggle, in: !toggle }"
        (click)="change()"
      ></div>
      <div class="menu close" [ngClass]="{ close: toggle, open: !toggle }">
        <div class="menu-1" (click)="change()">&#215;</div>
        <div class="menu-2">
          <li mat-menu-item routerLink="/menu">Menu</li>
          <li mat-menu-item routerLink="/meal-kits">Meal Kits</li>
          <li mat-menu-item routerLink="/master-classes">Masterclasses</li>
          <li mat-menu-item routerLink="/chef">Chefs</li>
          <li mat-menu-item routerLink="/chef/chefstore">Chef's Store</li>
          <li mat-menu-item routerLink="/chef/cheftable">Chef's Table</li>
        </div>
        <div class="menu-3">
          <li mat-menu-item>About Us</li>
          <li mat-menu-item>Carier</li>
          <li mat-menu-item>FAQ</li>
          <li mat-menu-item>Support</li>
        </div>
      </div>
      <div class="elm">
        <img
          (click)="change()"
          class="brown"
          [src]="'../assets/img/Vector 287.svg'"
          alt="menu"
        />
        <img class="brown" [src]="'../assets/img/logo.svg'" alt="logo" />
      </div>
      <div *ngIf="!condition; else elseBlock3">
        <div class="elm">
          <button mat-button class="btn log" (click)="openLoginDialog()">
            Login
          </button>
          <button mat-button class="btn siUp" (click)="openRegisterDialog()">
            Sign Up
          </button>
        </div>
      </div>
      <ng-template #elseBlock3>
        <div class="elm">
          <button
            *ngIf="quantity > 0"
            style="cursor: pointer; background-color: transparent; border: none"
            routerLink="/cart"
          >
            <div class="cart-box">
              <div class="cart-box-svg">
                <svg
                  width="42"
                  height="30"
                  viewBox="0 0 42 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 8.7619V23.0476L15.5 29M1 8.7619L15.5 13.5238M1 8.7619L15.5 4L30 8.76191M15.5 29L30 23.0476V8.76191M15.5 29V13.5238M30 8.76191L15.5 13.5238M5.88308 10.3655V16.7639L7.9177 16.5002L10.3592 18.5048V11.8355"
                    stroke="#373737"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <ellipse
                    cx="30.9688"
                    cy="10.5"
                    rx="11"
                    ry="10.5"
                    fill="#FFDF36"
                  />
                </svg>
                <div class="cart-box-number">
                  <span>{{ quantity }}</span>
                </div>
              </div>
            </div>
          </button>
          <button mat-button class="btn siUp" (click)="LogOut()">
            Sign Out
          </button>
        </div>
      </ng-template>
    </mat-toolbar>
   
  </div>
</div>
<ng-template id="header1" #elseBlock3>
  <mat-toolbar class="not-homescreen">
    <div
      class="overlay out"
      [ngClass]="{ out: toggle, in: !toggle }"
      (click)="change()"
    ></div>
    <div class="menu close" [ngClass]="{ close: toggle, open: !toggle }">
      <div class="menu-1" (click)="change()">&#215;</div>
      <div class="menu-2">
        <li mat-menu-item (click)="change()" routerLink="/menu">Menu</li>
        <li mat-menu-item (click)="change()" routerLink="/meal-kits">
          Meal Kits
        </li>
        <li mat-menu-item (click)="change()" routerLink="/master-classes">
          Masterclasses
        </li>
        <li mat-menu-item (click)="change()" routerLink="/chef">Chefs</li>
        <li mat-menu-item (click)="change()" routerLink="/chef-store">
          Chef's Store
        </li>
        <li mat-menu-item (click)="change()" routerLink="/chef-table">
          Chef's Table
        </li>
      </div>
      <div class="menu-3">
        <li mat-menu-item>About Us</li>
        <li mat-menu-item>Carier</li>
        <li mat-menu-item>FAQ</li>
        <li mat-menu-item>Support</li>
      </div>
    </div>
    <div class="elm">
      <img
        (click)="change()"
        class="dark"
        [src]="'../assets/img/Vector 287.svg'"
        alt="menu"
      />
      <img
        routerLink="/home"
        class="dark"
        [src]="'../assets/img/logo.svg'"
        alt="logo"
      />
    </div>
    <div *ngIf="!condition; else elseBlock3">
      <div class="elm">
        <button mat-button class="btn log" (click)="openLoginDialog()">
          Login
        </button>
        <button mat-button class="btn siUp" (click)="openRegisterDialog()">
          Sign Up
        </button>
      </div>
    </div>
    <ng-template #elseBlock3>
      <div class="elm">
        <button
          *ngIf="quantity > 0"
          style="cursor: pointer; background-color: transparent; border: none"
          routerLink="/cart"
        >
          <div class="cart-box">
            <div class="cart-box-svg">
              <svg
                width="42"
                height="30"
                viewBox="0 0 42 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 8.7619V23.0476L15.5 29M1 8.7619L15.5 13.5238M1 8.7619L15.5 4L30 8.76191M15.5 29L30 23.0476V8.76191M15.5 29V13.5238M30 8.76191L15.5 13.5238M5.88308 10.3655V16.7639L7.9177 16.5002L10.3592 18.5048V11.8355"
                  stroke="#373737"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <ellipse
                  cx="30.9688"
                  cy="10.5"
                  rx="11"
                  ry="10.5"
                  fill="#FFDF36"
                />
              </svg>
              <div class="cart-box-number">
                <span>{{ quantity }}</span>
              </div>
            </div>
          </div>
        </button>
        <button mat-button class="btn siUp" (click)="LogOut()">Sign Out</button>
      </div>
    </ng-template>
  </mat-toolbar>
</ng-template>
<div class="floating-cart" id="floatingCart" *ngIf="(quantity > 0 && showFloatingCart)">

  <div class="cart-box" routerLink="/cart">
      <div class="cart-box-svg">
        <svg
          width="42"
          height="30"
          viewBox="0 0 42 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 8.7619V23.0476L15.5 29M1 8.7619L15.5 13.5238M1 8.7619L15.5 4L30 8.76191M15.5 29L30 23.0476V8.76191M15.5 29V13.5238M30 8.76191L15.5 13.5238M5.88308 10.3655V16.7639L7.9177 16.5002L10.3592 18.5048V11.8355"
            stroke="#373737"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <ellipse
            cx="30.9688"
            cy="10.5"
            rx="11"
            ry="10.5"
            fill="#FFDF36"
          />
        </svg>
        <div class="cart-box-number">
          <div [ngClass]="quantity%2==0?'cart-animation':'cart-animation1'">
          <span >{{ quantity }}</span>
          </div>
        </div>
      </div>
    </div>

</div>