<div id="footer">
    <div class="top-footer">
        <mat-list>
            <mat-list-item><span>Meelz</span></mat-list-item>
            <mat-list-item routerLink="/menu"> <p>Menu</p> </mat-list-item>
            <mat-list-item routerLink="/meal-kits"> <p>Meal Kits</p> </mat-list-item>
            <mat-list-item routerLink="/master-classes"> <p>Masterclasses</p> </mat-list-item>
            <mat-list-item routerLink="/chef"> <p>Chefs</p> </mat-list-item>
            <mat-list-item routerLink="/chef-store"> <p>Chef's Store</p> </mat-list-item>
            <mat-list-item routerLink="/chef-table"> <p>Chef's Table</p> </mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item><span>About</span> </mat-list-item>
            <mat-list-item> About Us</mat-list-item>
            <mat-list-item> Career </mat-list-item>
            <mat-list-item> FAQ </mat-list-item>
            <mat-list-item> Support </mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item><span>For vendors</span></mat-list-item>
            <mat-list-item> Be a partner </mat-list-item>
            <mat-list-item> Vendor login </mat-list-item>
        </mat-list>
        <mat-list>
            <mat-list-item><span>Contacts</span></mat-list-item>
            <mat-list-item> suport@lmmaa.com </mat-list-item>
            <mat-list-item> +324982390932 </mat-list-item>
            <mat-list-item class="social">
                <a href=""> <img [src]="'../assets/img/icons8-instagram 1.svg'" alt="instagram"></a>
                <a href=""> <img [src]="'../assets/img/icons8-twitter 1.svg'" alt="twitter"></a>
                <a href=""> <img [src]="'../assets/img/icons8-facebook 1.svg'" alt="facebook"></a>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-toolbar>
        <div>
            <p>2020 Meelz. All rights reserved</p>
        </div>
        <div>
            <p class="line" routerLink="/terms" >Terms of Service </p>
            <hr>
            <p class="line" routerLink="/policy">Privacy Policy</p>
        </div>
    </mat-toolbar>
</div>